.about-us-title{
    font-size: 2.5em;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
}

.first-section{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.about-us-img{
    width: 350px;
    height: 350px;
    margin-right: 70px;
}

.about-us-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 15%;
}

.bubble-container{
    border-radius: 15%;
    background-color: #b4dfe0;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    /* margin-left: 70px; */
}

.arrow-container{
    width: 200px;
    height: 200px;
}

.arrow-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.arrow-container2{
    width: 150px;
    height: 150px;
}

.arrow-container2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.about-us-text{
    font-size: 1.5em;
    color: #FFF;
}

.third-section{
    justify-content: center;
    margin-left: 180px;
}

.fifth-section .bubble-container{
    margin-left: 680px;
}

.second-section .arrow-container{
    margin-left: 500px;
}

.about-us-container{
    margin-left: 30px;
    margin-right: 30px;

}
.second-section{
    width: 200px;
    height: 200px;
}

.fourth-section{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    margin-left: 600px;
}

.fifth-section{
    margin-bottom: 30px;
}
