.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff !important;
}

.title {
  text-align: center;
  justify-content: center;
  display: flex;            
  position: relative;
  top:5vh;
}

.title-text {
  font-size: 2.25rem;
  color: #000000;
  padding: 0;
}

.img-container {
  top:10vh;
  position: relative;
  margin-left: 1px;
}
.img {
  width:1200px;
  margin-left: -300px;
}

.body-container {
  top: 15vh;
  position: relative;
  margin-left: 20vh;
  margin-right: 20vh;
  text-align: left;
}

.body {
  margin-bottom: 5vh;
}

.buttons-container {
  margin: 20vh;
  position:relative;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.button-style {
  background-color: #70BFA8;
  border-radius: 220px 220px 220px 220px;
  border: none;
  padding: 25px 40px 25px 40px;
  width: 100px;
  height: 30px;
  /* text-decoration: none; */
  display:flex;
  color: black;
  font-family: 'Inter', sans-serif;
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
}

.buttons-container a {
  text-decoration: none;
  color: white;
  border: none;
}

/* Mobile responsive adjustments */
@media (max-width: 768px) {
  .title-text {
      font-size: 1.5rem; /* Smaller font size for better readability */
  }

  .img-container {
      top: 5vh; /* Adjust top position */
  }

  .img {
      width: 100%; /* Full width on smaller screens */
      margin-left: 0; /* Center the image */
  }

  .body-container {
      margin-left: 5%; /* Reduced margin for smaller screens */
      margin-right: 5%; /* Reduced margin for smaller screens */
  }

  .buttons-container {
      margin: 10vh 5%; /* Reduced margin and horizontal padding for smaller screens */
      flex-direction: column; /* Stack buttons vertically */
  }

  .button-style {
      width: 60%; /* Adjust button width */
      margin-bottom: 10px; /* Add space between buttons */
  }

  .searchbar-container {
      left: 5%; /* Adjust left position */
      width: 90%; /* Full width for search bar */
      top: 3.5vh;
  }

  .searchbar-wrapper {
      width: 100%; /* Full width for search bar */
  }

  .popular-articles-wrapper, .recent-articles-wrapper {
      width: 100%; /* Full width on smaller screens */
  }

  .popular-articles-container, .recent-articles-container {
      flex-direction: column; /* Stack articles vertically */
  }

  .article-image-container, 
  .article-image-container2, 
  .article-image-container3 {
      width: 100%; /* Full width on smaller screens */
      height: auto; /* Adjust height based on content */
      margin-right: 0; /* Adjust margin */
  }

  .article-container3 {
      width: 100%; /* Full width for each article container */
      height: 280px;
      padding: 0;
      margin-top: 10px;
  }
}
