/* Consider putting this CSS into your Audio.css file */

.audio-container {
    display: flex;            
    align-items: center;
    justify-content: center;   
    position: relative;
    top: 20px;
}
.audio-page{
    margin-bottom: 1000px;
}

.audio-text {
    color: black;
    font-size: 70px;
    font-weight: bold;
}

.audio-image {
    width: 80px;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    left: 20vw;
    top: 6vh;
    margin-bottom: 8vh;
}

.input-wrapper {
    position: relative; /* Change to relative to allow children positioning */
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 2px solid #D9D9D9;
    border-radius: 50px;
    width: 65vw;
}

.search-input {
    flex-grow: 1;
    padding: 8px;
    border: none;
    height: 6vh;
    background-color: transparent;
}

.search-input:focus {
    outline: none;
}

.search-image {
    margin-left: 10px; /* Adjust margin instead of absolute positioning */
    height: 20px;
    width: 20px;
}

/* Adjust these styles based on your React structure */
.section {
    position: relative;
    width: 90%;
    border-radius: 25px; /* Adjust the border-radius for rounded edges */
    left: 5%;
}
.section-container {
    margin-bottom: 1000px;
}

.career, .personal-development, .entrepreneurship, .remote {
    height: 200px;
    background-color: #6242E4; /* Update the respective colors */
    border-radius: 25px; /* Adjust border-radius for each section */
    left: 5%;
    margin-top: 20px;
    position: absolute;
    width: 90%;
}

.personal-development {
    background-color: #4283E4; /* Adjust color for personal development */
    top: 48vh;
}

.entrepreneurship {
    background-color: #34734D; /* Adjust color for entrepreneurship */
    top: 62vh;
}

.remote {
    height: 500px;
    background-color: #70BFA8; /* Adjust color for remote */
    top: 76vh;
    margin-top: 20px;
    margin-bottom: 10000px;
}

.text {
    font-size: 50px;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 50px;
}

.text a {
    color: inherit;
    text-decoration: none;
}

.zen-image {
    position: absolute;
    top: 350px;
    right: 0px;
    height: 140px;
    width: auto;
}
