.audio-container {
    display: flex;            
    align-items: center;
    justify-content: center;   
    position: relative;
    top:2vh;
}
.audio-text {
    color:#00BF63;
    font-size: 80px;
    font-weight: bold;
}
.audio-image{
    width:80px;
}

.search-container {
    display: flex;
    align-items: center;
    left: 20vw;
    top: 6vh;
    position: relative;
}

.input-wrapper {
    position: absolute; 
    display: flex;
    align-items: center;
    background-color: #fff; /* Set this to the same color as your input field */
    border: 2px solid #D9D9D9;
    border-radius: 50px; /* Rounded corners */
    width: 65vw;
}

.search-input {
    flex-grow: 1;  /* This allows the input to take up as much space as possible within the container */
    padding: 8px;
    border: none; /* Remove border because the wrapper now has the border */
    height:6vh;
    background-color: transparent; /* To inherit the background color from the wrapper */
}

.search-input:focus {
    outline: none;
}

.search-image {
    position: absolute;
    right: 10px; /* Now your image will stick to the right inside the input field */
    height: 20px;
    width: 20px;
}

.career{
    position: absolute;
    height:200px;
    width:90%;
    background-color: #E47C42;
    border-radius: 50px;
    left: 5%;
    top:42vh;
}
.personal-development{
    position: absolute;
    height:200px;
    width:90%;
    background-color: #6860C7;
    border-radius: 50px;
    left: 5%;
    top:56vh;
}
.entrepreneurship{
    position: absolute;
    height:200px;
    width:90%;
    background-color: #1E8C9B;
    border-radius: 50px;
    left: 5%;
    top:70vh; /* Adjust this value as necessary */
}


.remote{
    position: absolute;
    height:200px;
    width:90%;
    background-color: #82108C;
    border-radius: 50px;
    left: 5%;
    top:84vh;
    
}

.text{
    font-size: 50px;
    color: #FFFFFF;
    display: flex;            
    margin-top: 30px;
    margin-left: 50px;
    font-weight: bold;
}
.text a {
    color: inherit;       /* Take the color of the parent element */
    text-decoration: none; /* Remove underline */
}

.zen-image{
    position: absolute;
    top:-10px;
    right: 0px;
    height: 140px;
    width: auto;
}

