.rectangle {
    position: relative;
    display: flex;
    flex-direction: column;  /* Stacks the children vertically */
    justify-content: center; /* Centers children along the vertical axis */
    align-items: flex-start;
    padding: 20px;
    color: white;
    height: 20vh;
    border-radius: 0 0 35px 35px;
    
}
.text-section {
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 27px;
}

.career-image{
    width: 400px;
}


.playbutton{
    width: 5vw;
    position: absolute;
    top: 39vh;
    left: 25vw;
}
.custom-list {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    margin-left: 5vw;
}

.list-item {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom:  30px;  /* Adjust for spacing above and below each item */
    border-bottom: 2px solid black;
    width: 90vw;
}
.list-item:last-child {
    border-bottom: none;
}
.number {
    margin-right: 20px;  /* Adjust spacing as needed */
    font-weight: bold;
    flex-shrink: 0;  /* Prevents the number from shrinking */
    font-size: 30px;
}

.item-image {
    width: 150px;   /* Adjust width as needed */
    height: 150px;  /* Adjust height as needed */
    margin-right: 40px;  /* Adjust spacing as needed */
    margin-left: 40px;
    flex-shrink: 0;  /* Prevents the image from shrinking */
    border-radius: 30px;
}

.body{
    overflow: auto;
}

.audio-content{
    text-align: left;
    margin-left: 10px;
}
.audio-content h3 {
    font-size: 30px; /* Adjust the font size as needed */
}
.audio-content h3 a {
    text-decoration: none;
    color: black;
    &:hover {
        color: gray;
    }
}

.back{
    background: black;
    color: white;
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 25px;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    transition: 0.3s background-color;
    margin-left: 100px;
    margin-top: -50px;
    &:hover {
        background-color: gray;
    }
}

/* Mobile responsive adjustments */
@media (max-width: 768px) {
    .text-section {
        width: 90%; /* Adjust width for smaller screens */
        font-size: 20px; /* Adjust font size for smaller screens */
        margin-top: 20px;
    }
  
    .career-image {
        width: 80%; /* Adjust width for smaller screens */
        margin-top: 20px;
    }
  
    .playbutton {
        width: 10vw; /* Adjust size for smaller screens */
        top: 50vh; /* Adjust position for smaller screens */
        left: 35vw; /* Adjust position for smaller screens */
    }
  
    .custom-list {
        margin-left: 3vw;
    }
  
    .list-item {
        flex-direction: column; /* Stack elements vertically */
        align-items: flex-start; /* Align items to the start */
        width: 94vw; /* Adjust width for smaller screens */
    }
  
    .number, .item-image {
        margin-right: 10px; /* Adjust spacing for smaller screens */
        margin-left: 10px; /* Adjust spacing for smaller screens */
    }
  
    .item-image {
        width: 100px; /* Adjust size for smaller screens */
        height: 100px; /* Adjust size for smaller screens */
        margin-top: 10px;
        margin-bottom: 10px;
    }
  
    .audio-content h3 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }
  
    .back {
        width: 120px; /* Adjust width for smaller screens */
        height: auto;
        margin-left: 20px; /* Adjust margin for smaller screens */
        margin-top: 20px; /* Adjust margin for smaller screens */
    }
  
    .back:hover {
        background-color: gray; /* Ensuring hover effect is still applicable */
    }
  
    /* Adjust other elements as necessary */
  }

/* .footer {
    bottom: -1230px;
    display: none;
} */
