.rectangle {
    position: relative;
    display: flex;
    flex-direction: column;  /* Stacks the children vertically */
    justify-content: center; /* Centers children along the vertical axis */
    align-items: flex-start;
    padding: 20px;
    color: white;
    height: 20vh;
    border-radius: 0 0 35px 35px;
    
}
.text-section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 20%;
    left: 5%;
}
.text-section h1 {
    font-size: 3vw; /* adjust this value as needed */
    font-weight: 800;

}

.mic-container {
    display: flex;
    position:absolute;
    top:10%;
    left: 5%;
    
}
.mic {
    color:white;
    font-size: 1.5vw;
    font-weight: bold;
}
.microphone{
    width:1.5vw;
    height: auto;
}
.big-mic img {
    position: absolute;
    width: 5vw; /* adjust as needed */
    height: auto; /* adjust as needed */
    right:10vw;
    bottom: 0vh;
}
.episode-header{
    color: #00BF63;
    font-size: 50px;
    position: absolute; 
    top: 40vh;
    left: 3vw;
}
.playbutton{
    width: 5vw;
    position: absolute;
    top: 39vh;
    left: 25vw;
}
.custom-list {
    list-style-type: none;
    padding: 0;
    margin-top: 12vh;
    margin-left: 5vw;
}

.list-item {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom:  80px;  /* Adjust for spacing above and below each item */
    border-bottom: 2px solid #00BF63;
    width: 90vw;
}
.list-item:last-child {
    border-bottom: none;
}
.number {
    margin-right: 10px;  /* Adjust spacing as needed */
    font-weight: bold;
    flex-shrink: 0;  /* Prevents the number from shrinking */
}

.item-image {
    width: 50px;   /* Adjust width as needed */
    height: 50px;  /* Adjust height as needed */
    margin-right: 10px;  /* Adjust spacing as needed */
    flex-shrink: 0;  /* Prevents the image from shrinking */
}

.body{
    overflow: auto;
}