.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
  }
  
  /* Main content section */
  .content {
    color: #70bfa8; /* Text color */
    position: absolute;
    top: 240px;
    left: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Inter', sans-serif;
    font-size: 47px;
    text-align: center;
    padding-top: 1px;
  
    /* Responsive adjustments for smaller screens */
    @media (max-width: 768px) {
      top: 200px;
      font-size: 40px;
    }
  }
  
  /* Switch buttons container */
  .switch-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    top: -80px;
    left: 300px;
  
    /* Responsive adjustments for smaller screens */
    @media (max-width: 768px) {
      top: -60px;
      left: 150px;
    }
  }
  
  /* Second content section */
  .content2 {
    width: 800px;
    position: absolute;
    top: 430px;
    left: 90px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 25px;
  
    /* Responsive adjustments for smaller screens */
    @media (max-width: 768px) {
      width: 600px;
      top: 450px;
      font-size: 20px;
    }
  }
  
  /* Green line element */
  .green-line {
    height: 3px;
    width: 20%;
    background-color: #70bfa8;
    position: absolute;
    top: 510px;
    left: 90px;
  
    /* Hide the green line on smaller screens */
    @media (max-width: 768px) {
      display: none;
    }
  }
  
  /* Third content section */
  .content3 {
    width: 800px;
    position: absolute;
    top: 530px;
    left: 90px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 25px;
  
    /* Responsive adjustments for smaller screens */
    @media (max-width: 768px) {
      width: 600px;
      top: 500px;
      font-size: 20px;
    }
  }
  
  /* Green semi-circle element */
  .green-semi-circle {
    width: 300px;
    height: 450px;
    background-color: #70BFA8;
    border-radius: 220px 220px 0 0;
    margin-left: 800px;
    margin-top: 50px;
    margin-bottom: 150px;
  
    /* Adjust semi-circle position for smaller screens */
    @media (max-width: 768px) {
      width: 200px;
      height: 300px;
      margin-left: 600px;
      margin-top: 100px;
      margin-bottom: 150px;
    }
  }
  
  /* Edited image element */
  .edited-image {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 200px;
  
    /* Adjust image size for smaller screens */
    @media (max-width: 768px) {
      width: 150px;
    }
  }
  
  /* Green rectangle element */
  .green-rectangle {
    width: 1000px; /* Set width */
    height: 120px; /* Set height */
    background:#70BFA8; /* Color of the rectangle */
    top: 1150px; /* Positioned 1150px from the top */
    left: 90px; /* Positioned 90px from the left */
    border-radius: 50px 0 0 50px; /* Define border radius */
    justify-content: center; /* Center justify content */
    align-items: center; /* Center align items */
    color: white; /* Text color */
    font-size: 35px; /* Font size */
    text-align: left; /* Left align the text */
    padding-left: 100px; /* Left padding */
    padding-top: 12px; /* Top padding */
    line-height: 1; /* Line height */
    box-shadow: -10px 10px 3px rgba(128, 128, 128, 0.6); /* Apply box shadow */
    margin-left: 50px; /* Adjusted left margin */
    margin-top: 0px; /* Adjusted top margin */
}

/* Styling for a white line */
.white-line{
    width: 10px; /* Set width */
    height: 180px; /* Set height */
    background-color: white; /* Color of the line */
    top: 1180px; /* Positioned 1180px from the top */
    left: 130px; /* Positioned 130px from the left */
    margin-left: -60px; /* Adjusted left margin */
    margin-top: -135px; /* Adjusted top margin */
}

/* Styling for a black line */
.black-line{
    width: 10px; /* Set width */
    height: 175px; /* Set height */
    background-color: #70BFA8; /* Color of the line */
    top: 1350px; /* Positioned 1350px from the top */
    left: 130px; /* Positioned 130px from the left */
    margin-left: 140px; /* Adjusted left margin */
    margin-top: 0px; /* Adjusted top margin */
}

/* Fourth content section */
.content4{
    width: 625px; /* Set width */
    top: 1300px; /* Positioned 1400px from the top */
    left: 154px; /* Positioned 154px from the left */
    font-family: 'Montserrat', sans-serif; /* Font family */
    text-align: left; /* Left align the text */
    font-size: 25px; /* Font size */
    margin-left: 200px; /* Adjusted left margin */
    margin-top: -155px; /* Adjusted top margin */
    
}

/* Styling for a table image */
.table-image{
    top: 1150px; /* Positioned 1150px from the top */
    right: 0px; /* Positioned at the right */
    width: 425px; /* Set width */
    height: 272px;
    border-radius: 80px 0 0 80px; /* Define border radius */
    box-shadow: -10px 10px 3px rgba(128, 128, 128, 0.6); /* Apply box shadow */
    margin-left: 865px; /* Adjusted left margin */
    margin-top: -290px; /* Adjusted top margin */
}

/* Styling for the image container */
.image-container {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space between items */
    align-items: flex-start; /* Align items to the start */
    margin: 0 auto; /* Center horizontally */
    padding-left: 50px;
    max-width: 1200px; /* Set maximum width */
}

/* Styling for different images */
.goals-image, .learning-image, .network-image {
    width: 350px; /* Set width */
    height: auto; /* Auto height */
    border-radius: 80px 80px 0 0; /* Define border radius */
    box-shadow: -10px 10px 3px rgba(128, 128, 128, 0.6); /* Apply box shadow */
    margin-right: 50px; /* Right margin */
    margin-top: 120px; /* Top margin */
    margin-left: -120px; /* Left margin */
}

/* Styling for image card */
.image-card {
    text-align: center; /* Center align the text */
    width: 350px; /* Set width */
    margin-right: 200px; /* Right margin for spacing */
}

/* Styling for networking, learning, and goals content */
.networking-content, .learning-content, .goals-content {
    font-family: 'Montserrat', sans-serif; /* Font family */
    text-align: left; /* Left align the text */
    font-size: 18px; /* Font size */
    line-height: 1.2; /* Line height */
    margin-top: 25px; /* Top margin */
    margin-bottom: 100px; /* Bottom margin */
    margin-left: -120px; /* Left margin */
}

/* Styling for networking, learning, and goals title */
.networking-title, .learning-title, .goals-title{
    color:#70BFA8; /* Text color */
    font-family: 'Montserrat', sans-serif; /* Font family */
    text-align: left; /* Left align the text */
    font-size: 25px; /* Font size */
    line-height: 1.2; /* Line height */
    margin-top: 30px; /* Top margin */
    margin-left: -120px; /* Left margin */
}
