.back-button {
    background: black;
    color: white;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 25px;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    transition: 0.3s background-color;
    margin-left: 100px;
    margin-top: 50px;
    &:hover {
        background-color: gray;
    }
}

#individual-episode{
    background: #F5F5F5;
    width: 1000px;
    height: 500px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    
}

#title{
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: center; /* Center horizontally within .title */
    align-items: center; /* Center vertically within .title */
    margin: 0 auto; /* Center horizontally within the parent container */
    
}

.microphone-image {
    /*
    width: 30%; /* For example, you can adjust as needed
    height: 50%; /* Keeps the aspect ratio of the image
    */
    /* margin: 0 auto;  */
    flex-direction: row;
    height: 80%;
    margin: auto;
    display: block;
    margin-left: 80px;
    margin-top: 60px;
    border-radius: 30px;
    
    
}

.text-box {
    width: 50%; /* Takes the remaining half of the container width */
    height: 50%; /* Takes the full height of the parent div (adjusted by image) */
    margin-right: 70px;
    margin-top: 100px;
}

.episode1-title{
    margin-top: 50px;
}
.episode1-player{
    margin-top: -180px;
    margin-right: 150px;
    color:#000;
    font-size: 0.8em;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;   
    margin-left: auto; 
}
.progress-bar{
    margin-left: -80px; 
    width: 150%;
}
.forward-button{
    width:34px;
    margin-bottom: 6px;;
    &:hover {
        opacity: 0.5;
    }
}
.play-button{
    width:50px;
    margin-left: 100px;
    margin-right:100px;
    &:hover {
        opacity: 0.5;
    }
}
.pause-button{
    width:50px;
    margin-left: 100px;
    margin-right:100px;
    &:hover {
        opacity: 0.5;
    }
}
.backward-button{
    width:50px;
    &:hover {
        opacity: 0.5;
    }
}
.episode1-footer {
    bottom: -10000px;
  }