.switch {
    display: flex;
    width: 250px; /* Increased width */
    height: 80px; /* Increased height */
    background-color: #70BFA8;
    color: white;
    font-size: 40px; /* Increased font size */
    border-radius: 150px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 120px;
    left: -200px; /* Adjusted position for the increased width */
    text-decoration: none;
}

.button {
    display: flex;
    width: 250px; /* Increased width */
    height: 80px; /* Increased height */
    background-color: white;
    color: #70BFA8;
    font-size: 40px; /* Increased font size */
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 120px;
    left: 120px; /* Adjusted position for the increased width */
    border: 3px solid #70BFA8;
}

.switch a {
    text-decoration: none;
    color: aliceblue;
}
.button a {
    text-decoration: none;
    color: #70BFA8;
}